

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

/* Estilos para navegadores webkit */
/* Cambiar el color del pulgar y de la pista del scroll */
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.11);
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.432);
  border-radius: 10px;
}






