<div class="flex flex-col h-screen">
  <app-navbar></app-navbar>
  <div class="w-full p-6 grow bg-sky-600">
    <div class="flex gap-4">
      <div class="w-1/2">
        <h1 class="text-white">Lista A (Normal scroll)</h1>
        <div class="w-full mt-2 overflow-y-scroll bg-white border rounded h-96">
          <div class="flex items-center space-x-4" *ngFor="let pro of products">
            <a
              href="#"
              class="flex flex-col items-center w-full bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
            >
              <img
                class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                src="{{pro.images[0]}}"
                alt=""
              />
              <div class="flex flex-col justify-between p-4 leading-normal">
                <h5
                  class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                >
                  {{pro.title}}
                </h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                  {{pro.price}}
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="w-1/2 h-96">
        <h1 class="text-white">Lista B (Virtual scroll)</h1>
        <cdk-virtual-scroll-viewport itemSize="50" class="w-full mt-2 overflow-y-scroll bg-white border rounded h-96">
          <div class="flex items-center space-x-4" *cdkVirtualFor="let pro of products">
            <a
              href="#"
              class="flex flex-col items-center w-full bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
            >
              <img
                class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                src="{{pro.images[0]}}"
                alt=""
              />
              <div class="flex flex-col justify-between p-4 leading-normal">
                <h5
                  class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                >
                  {{pro.title}}
                </h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                  {{pro.price}}
                </p>
              </div>
            </a>
          </div>
        </cdk-virtual-scroll-viewport>
      </div>
      </div>
    </div>

</div>
